
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    width:100%;
    height:100%;
    background-image: url("pink-pastel-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    background-attachment: fixed;
    font-family: Tahoma;
    font-size: 20px;
    margin: 0;
    overflow-x: hidden;
}
h1, #description{
    text-align: center;
    margin: 1em auto;

}

label{
    display: block;
    margin: 0.5rem 0;

  }

input,select {
    margin: 10px 0 15px 0;
    width: 100%;
    min-height: 3em;
    border-radius: 10px;
    border:none;
    padding: 10px;
    font-size: 1rem;
  }

  .inline {
    width: unset;
    margin: -20px 0 -20px 0;
    vertical-align: middle;
}
textarea{
    margin:10px 0 0 0;
    width: 100%;
    height: 6em;
    padding: 10px;
    font-size: 1rem;
}

#submit{
    width: 100%;
    height: 2em;
    margin-bottom: 2em;
    background-color: pink;
    font-size: 1em;
}
#description{
    margin-top:-2em;
    margin-bottom: 2em;
}
form{
    max-width: 600px;
    min-width: 150px;
    height: 100%;
    padding: 1em 2em;
    background-color: rgba(249, 41, 159, 0.5);
    margin: 0 auto;
    
}
p, #desc{
    margin-top: 20px;
}
#submit:hover{
    cursor: pointer;
}
